<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GIT STAT</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style>
        [class*="text-purple"] {
            color: purple;
        }
        
        [class*="border-purple"] {
            border-color: purple;
        }
        
        [class*="bg-purple"] {
            background-color: purple;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="card" style="height: 90vh; background-image: url('../static/images/Capture.PNG');">
            <div class="card-header row mb-sm-3 justify-content-sm-center bg-white">
                <div class="col-sm-1 text-center">
                    <img class="img-fluid" src="../static/images/icons8-github-64.png" alt="Logo">
                </div>
                <div class="col-sm-9 text-center my-3 ">
                    <a href="index.html" class="text-decoration-none text-center text-purple">
                        <h1>GitStat</h1>
                    </a>
                </div>
            </div>

            <div class="card-body mx-sm-5 ">
                <!-- <img class="card-img m-sm-0 img-fluid" src="" alt="Github Image"> -->
                <div class=" mt-sm-2">
                    <div class="row mx-sm-5 my-sm-3 justify-content-sm-center">
                        <h1 class="text-white text-center">Login</h1>
                    </div>
                    <form action="/login" method="post">
                        <div class="row mx-sm-5 my-sm-5 justify-content-sm-center">
                            <label class="col-sm-2 text-white  font-weight-200" for="username">Username/Email</label>
                            <input class="col-sm-3 rounded-4 border-purple border-3" type="text" name="username" required minlength="4">
                        </div>
                        <div class="row mx-sm-5 my-sm-5 justify-content-sm-center">
                            <label class="col-sm-2 text-white" for="password">Password</label>
                            <input class="col-sm-3 rounded-4 border-purple border-3" type="password" name="password" required pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{4,}$">
                        </div>
                        <div class="row mx-sm-5 my-sm-5 justify-content-sm-center">
                            <button type="submit" class="col-sm-3 btn border-purple text-purple rounded-3 border-4">LOGIN</button>
                        </div>
                    </form>

                    <div class="row mx-sm-5 my-sm-5 justify-content-sm-center">
                        <p class="text-white text-sm-center">
                            Don't have an account? <a href="signup.html" class="text-purple text-sm-50">Signup</a>.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                Footer section
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>

</html>
